*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 100%
}

h1{
  font-size: 2em
}

.baku{
  background-image: url(../images/baku.jpg);
  background-size: cover;
}

.london{
  background-image: url(../images/london.jpg);
  background-size: cover;
}

.madrid{
  background-image: url(../images/madrid.jpg);
  background-size: cover;
}

.rome{
  background-image: url(../images/rome.jpg);
  background-size: cover;
}
div > h1 {
  position: relative;
  top: 50px;
  left: 50px;
  font-size: 18px;
}

@media screen and (min-width: 575px)  {
  .preview{
    margin: 1%;
    width: 45%;
    display: inline-block;
  }

}

  @media screen and (min-width: 991px)  {
    .preview{
      margin: 1%;
      width: 20%;
      display: inline-block;
    }

}
