*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 100%
}

h1{
  font-size: 2em
}

img {
  margin: auto;
  width: 100%;
}

.top-left {
  position: relative;
  top: 50px;
  left: 50px;
  font-size: 18px;
}

@media screen and (min-width: 575px)  {
  .preview{
    margin: 1%;
    width: 45%;
    display: inline-block;
  }

}

  @media screen and (min-width: 991px)  {
    .preview{
      margin: 1%;
      width: 20%;
      display: inline-block;
    }

}
